/* --- Featured Post --- */
.featured-post {
    padding: 3rem 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featured-content {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 4rem;
    max-width: 1200px;
    justify-content: center;
}

.featured-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.featured-post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.featured-post-data {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.featured-post-content a {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    color: var(--accent-blue);
    position: relative;
    width: fit-content;
    text-transform: uppercase;
    font-size: var(--button-fontsize);
}

.featured-post-content a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--doc-purple); /* DocPurple */
    transition: all 0.3s ease;
}

.featured-post-content a:hover::after {
    width: 100%;
}
/* --- END of Featured Post --- */

/* --- Recent Posts --- */
.recent-posts {
    padding: 3rem 20%;
    display: flex;
    gap: 3rem;
    flex-direction: row;
    align-items: first baseline;
    justify-content: center;
}

.recent-post-item {
    width: 100%;
    max-width: 280px;
}

.recent-post-item img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.recent-post-item h3 {
    font-size: var(--subtitle-fontsize);
    font-weight: var(--subtitle-weight);
}
/* --- END of Recent Posts --- */

/* --- Newsletter CTA --- */
.newsletter-blade {
    display: flex;
    justify-content: center;
    background-color: var(--bone);
    padding: 2rem auto;
}
/* --- END of Newsletter CTA --- */

/* --- All Posts --- */
.all-posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bone);
    padding: 3rem 10%;
}

.all-posts-container {
    width: 100%;
    max-width: 1200px;
}

.line-divider {
    height: 2px;
    width: 100%;
    background-color: var(--black);
    margin: 24px 0;
}

.all-posts-container li {
    list-style: none;
    margin-bottom: 1rem;
}

.all-posts-container li span {
    color: var(--grey);
    font-size: var(--subtitle-fontsize);
    font-weight: var(--subtitle-weight);
}

.all-posts-container li a {
    color: var(--black);
    font-size: var(--subtitle-fontsize);
    font-weight: var(--subtitle-weight);
    margin-left: 1rem;
}
/* --- END of All Post --- */