@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* GENERAL PROPERTIES */
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: var(--white);

    /* COLORS */
    --white: #EFEFEF;
    --doc-purple: #7244F9;
    --soft-dark: #323232;
    --black-magic: #0B0510;
    --accent-orange: #ED932A;
    --grey: #A0A0A0;
    --bone: #E3DAC9;
    --accent-blue: #2697FF;
    --black: #1C1C1C;
    --onyx: #030104;

    /* Typography */
    --headline-fontsize: 4rem;
    --h2-fontsize: 3rem;
    --h3-fontsize: 2rem;
    --h4-fontsize: 1.5rem;
    --h5-fontsize: 1.5rem;
    --body-fontsize: 1.125rem;
    --button-fontsize: 1.125rem;
    --overline-fontsize: 0.875rem;
    --caption-fontsize: 0.875rem;
    --subtitle-fontsize: 1.5rem;
    --subtitle-weight: 700;

    /* Spacing */
    --section-padding: 100px auto;
    --mobile-section-padding: 48px auto;
}

/* ------- GENERAL STYLES ------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--white);
}

body {
    background-color: var(--black-magic);
}
/* ------- END GENERAL STYLES ------- */


nav,
footer {
    margin: auto;
    padding: 1rem 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--onyx); /* Onyx */
}

nav .links,
footer .footer-copyright {
  display: flex;
  gap: 1rem;
}

nav .links a,
footer .footer-copyright a {
    text-decoration: none;
    color: var(--white); /* White */
    position: relative;
}

nav .links a::after,
footer .footer-copyright a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: var(--doc-purple); /* DocPurple */
    transition: all 0.3s ease;
}

nav .links a:hover::after,
footer .footer-copyright a:hover::after{
    width: 100%;
}

nav .contact {
  background-color: var(--doc-purple); /* DocPurple */
  border: none;
  color: var(--white); /* White */
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  font-size: var(--button-fontsize); /* Button Font */
  border-radius: 4px;
  cursor: pointer;
}

nav .contact:hover {
  background-color: var(--accent-blue); /* AccentBlue */
  transform: scale(1.125);
  transition: all 0.3s ease;
}

footer .footer-socials {
    display: flex;
    gap: 1rem;
}