/* ------- TABLET 800x ------- */
@media screen and (max-width: 800px) {
    :root {
        /* Tablet Typography */
        --headline-fontsize: 4rem;
        --h2-fontsize: 2rem;
        --h3-fontsize: 1.5rem;
        --h4-fontsize: 1.25rem;
        --h5-fontsize: 1.25rem;
        --body-fontsize: 1rem;
        --button-fontsize: 1rem;
        --overline-fontsize: 0.75rem;
        --caption-fontsize: 0.75rem;
        --subtitle-fontsize: 1.25rem;
        --subtitle-weight: bold;
    }

    nav,
    footer,
    .footer-copyright {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    .footer-copyright p {
        text-align: center;
    }
}
/* ------- END OF TABLET STYLES ------- */

/* ------- MOBILE 390x ------- */
@media screen and (max-width: 500px) {
    :root {
        /* Mobile Typography */
        --headline-fontsize: 3rem;
        --h2-fontsize: 1.5rem;
        --h3-fontsize: 1.25rem;
        --h4-fontsize: 1.125rem;
        --h5-fontsize: 1.125rem;
        --body-fontsize: 1rem;
        --button-fontsize: 1rem;
        --overline-fontsize: 0.5rem;
        --caption-fontsize: 0.5rem;
        --subtitle-fontsize: 1.125rem;
        --subtitle-weight: bold;
    }
}
/* ------- END OF MOBILE STYLES ------- */