@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* GENERAL PROPERTIES */
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: var(--white);

    /* COLORS */
    --white: #EFEFEF;
    --doc-purple: #7244F9;
    --soft-dark: #323232;
    --black-magic: #0B0510;
    --accent-orange: #ED932A;
    --grey: #A0A0A0;
    --bone: #E3DAC9;
    --accent-blue: #2697FF;
    --black: #1C1C1C;
    --onyx: #030104;

    /* Typography */
    --headline-fontsize: 4rem;
    --h2-fontsize: 3rem;
    --h3-fontsize: 2rem;
    --h4-fontsize: 1.5rem;
    --h5-fontsize: 1.5rem;
    --body-fontsize: 1.125rem;
    --button-fontsize: 1.125rem;
    --overline-fontsize: 0.875rem;
    --caption-fontsize: 0.875rem;
    --subtitle-fontsize: 1.5rem;
    --subtitle-weight: 700;

    /* Spacing */
    --section-padding: 100px auto;
    --mobile-section-padding: 48px auto;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


/* ------- TABLET 800x ------- */
@media screen and (max-width: 800px) {
    :root {
        /* Tablet Typography */
        --headline-fontsize: 4rem;
        --h2-fontsize: 2rem;
        --h3-fontsize: 1.5rem;
        --h4-fontsize: 1.25rem;
        --h5-fontsize: 1.25rem;
        --body-fontsize: 1rem;
        --button-fontsize: 1rem;
        --overline-fontsize: 0.75rem;
        --caption-fontsize: 0.75rem;
        --subtitle-fontsize: 1.25rem;
        --subtitle-weight: bold;
    }
}


/* ------- MOBILE 390x ------- */
@media screen and (max-width: 390px) {
    :root {
        /* Mobile Typography */
        --headline-fontsize: 3rem;
        --h2-fontsize: 1.5rem;
        --h3-fontsize: 1.25rem;
        --h4-fontsize: 1.125rem;
        --h5-fontsize: 1.125rem;
        --body-fontsize: 1rem;
        --button-fontsize: 1rem;
        --overline-fontsize: 0.5rem;
        --caption-fontsize: 0.5rem;
        --subtitle-fontsize: 1.125rem;
        --subtitle-weight: bold;
    }
}